.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.game-results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

h3 {
  margin: 0;
}
