html,
body {
  margin: 0px;
  background-color: #2f4f30;
  color: #F7FAFC;
}

.header {
  background-color: #2A2A2A;
  color: #F7FAFC;
  text-align: center;
}
.header h1 {
  margin: 0;
  padding: 1rem;
}
