.deck-container {
  display: flex;
  position: relative;
  height: 75vh;
}

#cpu-deck {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.card-row-container {
  display: flex;
  flex-direction: column;
}

.card-figure {
  width: 150px;
  position: absolute;
  overflow: hidden;
  margin: 0;
}

.card-figure img {
  width: 100%;
  object-fit: cover;
}
